In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Temperature.csv', encoding = 'utf8')

In [3]:
df.set_index('Province', inplace = True)
df.head()

            Temperature                                Date
Province
 เชียงราย       11.6 °C   03 กุมภาพันธ์ 2565  เวลา 07:00 น.
 เชียงใหม่      14.5 °C       03 มกราคม 2565  เวลา 07:00 น.
 แม่ฮ่องสอน     10.8 °C       03 มีนาคม 2565  เวลา 07:00 น.
 ตาก            21.0 °C       03 เมษายน 2565  เวลา 07:00 น.
 น่าน           16.6 °C      03 พฤษภาคม 2565  เวลา 07:00 น.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries,  เชียงราย to  กรุงเทพมหานคร
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  77 non-null     object
 1   Date         77 non-null     object
dtypes: object(2)
memory usage: 1.8+ KB

In [5]:
df.drop_duplicates(inplace = True)

In [6]:
df.sort_index(inplace = True)

In [7]:
df['Temperature'] = df['Temperature'].map(lambda x: x.rstrip('°C'))

In [8]:
df['Temperature'] = pd.to_numeric(df['Temperature'], downcast='integer')

df['Time'] = df.Date.str[25:-3]

In [9]:
df2 = df['Date'].str.split(' ',expand=True)

In [10]:
df2[1] = df2[1].apply(lambda x: '01' if 'มกราคม' in x else x)
df2[1] = df2[1].apply(lambda x: '02' if 'กุมภาพันธ์' in x else x)
df2[1] = df2[1].apply(lambda x: '03' if 'มีนาคม' in x else x)
df2[1] = df2[1].apply(lambda x: '04' if 'เมษายน' in x else x)
df2[1] = df2[1].apply(lambda x: '05' if 'พฤษภาคม' in x else x)
df2[1] = df2[1].apply(lambda x: '06' if 'มิถุนายน' in x else x)
df2[1] = df2[1].apply(lambda x: '07' if 'กรกฎาคม' in x else x)
df2[1] = df2[1].apply(lambda x: '08' if 'สิงหาคม' in x else x)
df2[1] = df2[1].apply(lambda x: '09' if 'กันยายน' in x else x)
df2[1] = df2[1].apply(lambda x: '10' if 'ตุลาคม' in x else x)
df2[1] = df2[1].apply(lambda x: '11' if 'พฤศจิกายน' in x else x)
df2[1] = df2[1].apply(lambda x: '12' if 'ธันวาคม' in x else x)

In [11]:
df2[2] = df2[2].astype(int) - 543
df2[2] = df2[2].astype(str)
df2 = df2.drop(columns=[3, 4, 6])

In [12]:
df2['Datetime'] = df2.apply(lambda row: '-'.join(row.values.astype(str)), axis=1)

In [13]:
df2 = df2.drop(columns=[0,1,2,5])

In [14]:
result = pd.concat([df, df2], axis=1).reindex(df.index)

In [15]:
result = result.drop(columns = 'Date')

In [16]:
result['Datetime'] = pd.to_datetime(result['Datetime'])

In [17]:
result

                  Temperature            Datetime
Province
 กระบี่                  25.7 2022-03-02 07:00:00
 กรุงเทพมหานคร           26.4 2022-03-02 07:00:00
 กาญจนบุรี               24.4 2022-03-02 07:00:00
 กาฬสินธุ์               19.8 2022-03-02 07:00:00
 กำแพงเพชร               21.7 2022-03-08 07:00:00
 ขอนแก่น                 20.6 2022-03-02 07:00:00
 จันทบุรี                24.1 2022-03-02 07:00:00
 ฉะเชิงเทรา              22.2 2022-03-02 07:00:00
 ชลบุรี                  25.1 2022-03-02 07:00:00
 ชลบุรี                  25.0 2022-03-02 04:00:00
 ชัยนาท                  23.3 2022-03-02 07:00:00
 ชัยภูมิ                 23.5 2022-03-02 07:00:00
 ตรัง                    24.2 2022-03-02 07:00:00
 ตาก                     21.0 2022-03-04 07:00:00
 นครนายก                 17.4 2022-03-02 07:00:00
 นครพนม                  19.0 2022-03-02 07:00:00
 นครราชสีมา              24.0 2022-03-02 07:00:00
 นครศรีธรรมราช           24.0 2022-03-02 04:00:00
 นครสวรรค์               24.3 2022-03-02 07:00:00
 นราธิวาส                24.8 2022-03-02 07:00:00
 น่าน                    16.6 2022-03-05 07:00:00
 บึงกาฬ                  19.7 2022-03-02 07:00:00
 บุรีรัมย์               21.2 2022-03-02 07:00:00
 ประจวบคีรีขันธ์         24.7 2022-03-02 07:00:00
 พระนครศรีอยุธยา         23.6 2022-03-02 07:00:00
 พะเยา                   14.5 2022-03-11 07:00:00
 พิจิตร                  24.0 2022-03-09 07:00:00
 พิษณุโลก                23.5 2022-03-06 07:00:00
 ภูเก็ต                  25.0 2022-03-02 07:00:00
 มหาสารคาม               21.3 2022-03-02 07:00:00
 ยะลา                    25.5 2022-02-02 22:00:00
 ยโสธร                   19.6 2022-03-02 07:00:00
 ระยอง                   25.2 2022-03-02 07:00:00
 ราชบุรี                 23.0 2022-03-02 07:00:00
 ร้อยเอ็ด                20.8 2022-03-02 07:00:00
 ลพบุรี                  24.6 2022-03-02 07:00:00
 ลำปาง                   17.2 2022-03-02 07:00:00
 ลำพูน                   13.5 2022-03-12 07:00:00
 สงขลา                   26.5 2022-03-02 07:00:00
 สมุทรปราการ             27.0 2022-03-02 07:00:00
 สมุทรสงคราม             25.9 2022-03-02 07:00:00
 สุพรรณบุรี              25.5 2022-03-02 07:00:00
 สุราษฎร์ธานี            27.8 2022-03-02 07:00:00
 สุรินทร์                22.0 2022-03-02 07:00:00
 สุโขทัย                 21.1 2022-03-10 07:00:00
 หนองคาย                 20.5 2022-03-02 07:00:00
 หนองบัวลำภู             20.2 2022-03-02 07:00:00
 อุดรธานี                20.0 2022-03-02 07:00:00
 อุตรดิตถ์               21.0 2022-03-07 07:00:00
 อุบลราชธานี             20.3 2022-03-02 07:00:00
 เชียงราย                11.6 2022-03-02 07:00:00
 เชียงใหม่               14.5 2022-03-01 07:00:00
 เพชรบุรี                24.5 2022-03-02 07:00:00
 เพชรบูรณ์               22.5 2022-03-02 07:00:00
 เลย                     21.0 2022-03-02 07:00:00
 แพร่                    18.0 2022-03-02 07:00:00
 แม่ฮ่องสอน              10.8 2022-03-03 07:00:00